
*{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}


html, body {
  width: 100%;
  height: 100%;
  background-color: rgb(42, 216, 201);
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 40%;
  background-color: rgb(43, 42, 42);
  color: rgb(227, 181, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  gap: 20px;
}
p {
  font-size: 40px;
  text-align: center;
  color: rgb(219, 195, 195);
  font-weight: bold;
}
